@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');
.about{
    text-align: center;
}
.about-title{
    font-size: 3.5rem;
    color: var(--third-color);
    font-family: 'Maven Pro', sans-serif;

}
/* .about-hr{
    border: 10px solid green;
}    */
/* .about-text{
    width: 25%;
    float: left;
} */
.about-p{
    float: left;
}
.profile{
    float: right;
    width: 350px;
}